/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define DEF 0
#define NAV 1
#define NUM 2

/ {
    combos {
        compatible = "zmk,combos";

        // Thumb combos
        // Brackets - Ngoặc vuông []
        // Braces - Ngoặc nhọn {}
        // Parentheses - Ngoặc tròn ()
        // Special chars
        // Word navigation - Windows (Layer 0)
        // Word navigation - Mac (Layer 1)
        // Arrow keys

        tab {
            bindings = <&kp TAB>;
            key-positions = <10 11>;
        };

        esc {
            bindings = <&kp ESCAPE>;
            key-positions = <0 1>;
        };

        Backspace {
            bindings = <&kp BACKSPACE>;
            key-positions = <8 9>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Main {
            bindings = <
&kp Q           &kp W           &kp E             &kp R               &kp T      &kp Y      &kp U        &kp I              &kp O            &kp P
&mt LEFT_GUI A  &mt LEFT_ALT S  &mt LEFT_SHIFT D  &mt LEFT_CONTROL F  &kp G      &kp H      &mt RCTRL J  &mt RIGHT_SHIFT K  &mt RIGHT_ALT L  &mt RIGHT_GUI SEMICOLON
&kp Z           &kp X           &kp C             &kp V               &kp B      &kp N      &kp M        &kp COMMA          &kp DOT          &kp FSLH
                                &kp TAB           &mo 1               &kp SPACE  &kp ENTER  &mo 2        &kp BSPC
            >;

            label = "LDT";
        };

        Numb_Arrow {
            bindings = <
&kp GRAVE  &kp HOME  &kp UP    &kp END    &kp PAGE_UP    &kp N7  &kp N8  &kp N9   &kp MINUS  &kp EQUAL
&trans     &kp LEFT  &kp DOWN  &kp RIGHT  &kp PAGE_DOWN  &kp N4  &kp N5  &kp N6   &kp SQT    &kp NON_US_BACKSLASH
&trans     &trans    &trans    &trans     &trans         &kp N1  &kp N2  &kp N3   &kp N0     &trans
                     &kp CAPS  &trans     &trans         &trans  &mo 3   &kp DEL
            >;
        };

        F_Row {
            bindings = <
&kp F1  &kp F2   &kp F3   &kp F4   &kp LPAR          &kp RIGHT_PARENTHESIS  &trans  &trans  &trans  &trans
&kp F5  &kp F6   &kp F7   &kp F8   &kp LEFT_BRACKET  &kp RIGHT_BRACKET      &trans  &trans  &trans  &trans
&kp F9  &kp F10  &kp F11  &kp F12  &trans            &trans                 &trans  &trans  &trans  &trans
                 &trans   &mo 3    &trans            &trans                 &trans  &trans
            >;
        };

        Config {
            bindings = <
&bt BT_CLR      &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &trans  &trans  &trans  &trans  &trans  &trans
&trans          &trans        &trans        &trans        &trans  &trans  &trans  &trans  &trans  &trans
&studio_unlock  &trans        &trans        &trans        &trans  &trans  &trans  &trans  &trans  &trans
                              &trans        &trans        &trans  &trans  &trans  &trans
            >;
        };
    };
};
