/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEF 0
#define NAV 1
#define NUM 2

/ {
    behaviors {
        hrm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <280>;
            quick-tap-ms = <125>;
            bindings = <&kp>, <&kp>;
        };

        ss_cw: sticky_shift_capsword {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&sk LSHFT>, <&caps_word>;
        };

        bs_del_num: backspace_delete_num {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&lt NUM BSPC>, <&kp DEL>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };

    combos {
        compatible = "zmk,combos";
        
        combo_copy {
            timeout-ms = <40>;
            key-positions = <22 21>;
            bindings = <&kp LC(C)>;
        };
        
        combo_paste {
            timeout-ms = <40>;
            key-positions = <23 22>;
            bindings = <&kp LC(V)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "DEF";
            bindings = <
                &kp Q         &kp W         &kp F         &kp P         &kp B             &kp J         &kp L         &kp U         &kp Y         &kp SQT
                &hrm LGUI A   &hrm LALT R   &hrm LCTRL S  &hrm LSHFT T  &kp G             &kp M         &hrm RSHFT N  &hrm LCTRL E  &hrm LALT I   &hrm LGUI O
                &kp Z         &kp X         &kp C         &kp D         &kp V             &kp K         &kp H         &kp COMMA     &kp DOT       &kp SEMI
                                                          &kp ESC       &lt NAV SPACE &kp TAB           &kp RET       &bs_del_num   &ss_cw
            >;
        };

        nav_layer {
            label = "NAV";
            bindings = <
                &trans        &trans        &trans        &trans        &trans            &kp PG_UP     &kp HOME      &kp UP        &kp END       &kp INS
                &sk LGUI      &sk LALT      &sk LCTRL     &sk LSHFT     &trans            &kp PG_DN     &kp LEFT      &kp DOWN      &kp RIGHT     &kp DEL
                &trans        &trans        &trans        &trans        &trans            &trans        &kp LC(X)     &kp LC(INS)   &kp LS(INS)   &trans
                                                          &trans        &trans        &trans            &trans        &trans        &trans
            >;
        };

        num_layer {
            label = "NUM";
            bindings = <
                &kp ESC       &kp N7        &kp N8        &kp N9        &kp STAR          &trans        &trans        &trans        &trans        &trans
                &kp TAB       &kp N4        &kp N5        &kp N6        &kp PLUS          &trans        &sk RSHFT     &sk LCTRL     &sk LALT      &sk LGUI
                &kp RET       &kp N1        &kp N2        &kp N3        &kp FSLH          &trans        &trans        &trans        &trans        &trans
                                                          &kp DOT       &kp N0        &kp MINUS         &trans        &trans        &trans
            >;
        };
    };
};
